{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<div class="col-sm-6 article-preview">
    <!-- section title -->
    {% for category in article.categories.all %}
        {% if forloop.first %}
            <div class="section-title">
                <h2 class="title">{{ category.name }}</h2>
            </div>
        {% endif %}
    {% endfor %}
    </ul>
    <!-- /section title -->
    
    <!-- ARTICLE -->
    <article class="article
        {% if article.is_featured %} featured{% endif %}
        {% if not article.published %} unpublished{% endif %}">

        {% if article.featured_image_id %}
           <div class="article-img">
                <a href="/news/{{ article.slug }}">
                    <img src="{% thumbnail article.featured_image 360x200 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                </a>
            </div>
        {% endif %}

        <div class="article-body">
            <h3 class="article-title"><a href="/news/{{ article.slug }}">{% render_model article "title" %}</a></h3>
            <!--<h3 class="article-title"><a href="{# namespace_url 'article-detail' article.slug namespace=namespace default='' #}">{# render_model article "title" #}</a></h3> -->

            <ul class="article-meta">
                <li><i class="fa fa-clock-o"></i>{{ article.publishing_date|date }}</li>
                <li><i class="fa fa-user-circle"></i>{% include "aldryn_newsblog/includes/author.html" with author=article.author %}</li>
            </ul>

            {% render_model article "lead_in" %}

        </div>

    </article>

</div>
