{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}


<!-- ARTICLE -->
<article class="article thumb-article">
    <div class="article-img">
        <a href="/news/{{ article.slug }">
            <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
        </a>
    </div>
    <div class="article-body">
        {% if article.categories.exists %}
            <ul class="article-info">
            {% for category in article.categories.all %}
                <li class="article-category"><a href="{# namespace_url 'article-list-by-category' category.slug namespace=namespace default='' #}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <h3 class="article-title"><a href="/news/{{ article.slug }}">{% render_model article "title" %}</a></h3>

    </div>
</article>
