{% load cms_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% render_block "css" %}
        {% block main_static_files %}{% endblock %}
        {% block additional_static_files %}{% endblock %}
    </head>
    <body class="animsition">
        {% cms_toolbar %}
        {% block header %}{% endblock header %}
        {% block content %}{% endblock content %}
        {% render_block "js" %}
    </body>
</html>
